.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Post {
  background-color: #ffffff;
  color: #000000;
  width: 500px;
  text-align: start;
  margin: 0.5em;
  padding: 0.5em;
}

.Post .Message {
  color: #282c34;
  font-size: 1.3em;
}

.Counter {
  color: #a1a1a1;
  width: 100%;
  text-align: end;
}

.Chat {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 260px;

  background-color: #ffffff;
  border-radius: 5px;
}

.Chat .Message {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
  margin: 0.5em;
  padding: 0.5em;
}

.Text {
  font-weight: normal;
  padding: 1em;
}

.Input {
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  margin: 1em;
}

.Input:focus {
  outline: none;
}

.Submit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1em;
}

.Submit textarea {
  width: 100%;
}

.Submit button {
  background-color: #ffffff;
  color: #000000;
  border: none;
}
